.lista{
   display: flex;
   gap: 1rem;
   justify-content: center;
}

.lista div{
   width: 31%;
   min-width: 30%;
   border-radius: 10px;
   padding: 10px;
}


.listaesemeny{
   flex-wrap: wrap;
   display: flex;
   gap: 1rem;
   justify-content: flex-start;
}

.gombok{
   background-color: black;
   color: white;
   padding: 10px;
   border: black 1px;
   margin-left: 10px;
   border-radius: 5px;
}

.ujAblak{
   -webkit-backdrop-filter: blur(3px);
   backdrop-filter: blur(3px);
   top: 0;
   left: 0;
   position:fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

.ujAblak .tartalom{
   padding: 20px;
   width: 80%;
   height: 80vh;
   background-color: white;
   border-radius: 20px;
   box-shadow: 0px 0px 20px black;
}

.ujgomb{
   background-color: black;
   color: white;
   padding: 1px 20px 1px 20px;
   border: black 1px;
   border-radius: 5px;
}