.lista{
   display: flex;
   gap: 1rem;
   justify-content: center;
   flex-wrap: wrap;
}

.lista div{
   width: 31%;
   min-width: 30%;
   border-radius: 10px;
   padding: 10px;
}


.listaesemeny{
   flex-wrap: wrap;
   display: flex;
   gap: 1rem;
   justify-content: flex-start;
}

.gombok{
   background-color: black;
   color: white;
   padding: 10px;
   border: black 1px;
   margin-left: 10px;
   border-radius: 5px;
}

.ujAblak{
   -webkit-backdrop-filter: blur(3px);
   backdrop-filter: blur(3px);
   top: 0;
   left: 0;
   position:fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

.ujAblak .tartalom{
   padding: 20px;
   width: 80%;
   height: 80vh;
   background-color: white;
   border-radius: 20px;
   box-shadow: 0px 0px 20px black;
}

.ujgomb{
   background-color: black;
   color: white;
   padding: 1px 20px 1px 20px;
   border: black 1px;
   border-radius: 5px;
}

.logo{
   width: 25%;
   max-width: 150px;
}
.fooldallogo{
   width: 20%;
   min-height: 150px;
   object-fit: contain;
}
.logomenhelyek{
   width: 20%;
   min-height: 150px;
   object-fit: contain;
}

.galeriakep{
   width: 23%;
}


.listagaleria{
   flex-wrap: wrap;
   display: flex;
   gap: 20px;
}

.listagaleria .kepwp{
   width: 24%;
}

.listagaleria .kepwp img{
   width: 100%;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgb(157, 157, 157);
   aspect-ratio: 16/9;
   object-fit: cover;
}

.boxw{
   padding: 1rem;
   border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}


.disabledlove{
  opacity: 0.3;
}

.savewrapper{
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: flex-start;
}

.savewrapper .iconbutton{
   height: 40px;
   width: 40px;
  background-color: rgba(150, 146, 146, 0.168);
  box-shadow: 0px 0px 5px rgba(65, 64, 64, 0.181);
  border-radius: 100%;
  border: 1px solid rgb(90, 89, 89);
}

/* Gépen 3 oszlop */
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.esemenylogo{
   max-width: 100px;
}

.kepwp {
  position: relative;
  display: inline-block;
}

.galeriakep {
  width: 100%;
  height: auto;
  display: block;
}

.delete-button {
  font-size: 16pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.927);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.kepwp:hover .delete-button {
  opacity: 1;
}